body {
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
    margin: 0;
}

h1 {
    color: #28a745;
    font-size: 70px;
    font-family: "Roboto", monospace;
}